<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://cdn.vox-cdn.com/uploads/chorus_asset/file/3873372/crushed_ice_gabe_fonseca.0.jpg');">
  <div class="banner-content">
    <h1>Cocktails</h1>
    <p>Make a drink. It's on the house.</p>
  </div>
</div>




